body{
    background: aqua;
}


.main{
    column-count: 2;
}
.users-box{
    border: 3px solid red;
    background-color: yellow;
}

.address-block{
    border: 1px solid red;
    background-color: antiquewhite;
}